*{
  margin: 0;
  /* position: absolute; */
}

.app{
  background-color: #FAFAFA;
  height: 100vh;
}

.app_header{
  height: 40px;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 5;
  
}

.app_header_img{
  /* width: 100px; */
  object-fit: contain;
}

.app_signup{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app_post{
  padding :80px;
  /* padding-left: 20px; */

  display: flex;

  justify-content: center;
  
 

}

.app_post_left{
  max-width: 800px;
  
}

/* @media (min-width: 640px) */
  .app_post_right{
    color: rgb(209, 68, 2);
    padding: 20px;
    margin-left: 20px;
    display: flexbox;
    height: 100%;
    width: 300px;
    /* position:fixed; */
    
    z-index: 1;
    right: 0;
    /* left: 736px; */
    background-color: rgb(253, 249, 249);
    
    
    
  }
  
  /* .fixed{

  } */


